#content-conatiner
    height: fit-content
    display: flex
    flex-direction: column
    align-items: center

body
    color: rgb(255, 255, 255)
    font-family: 'Public Sans', sans-serif;
    background: #0f0f0f
    text-align: center

h1
    width: max-content
    font-size: 6vh
    margin: 0px

h2
    color: rgb(255,255,255)
    width: max-content
    font-size: 3vh

h4
    width: max-content
    font-size: 2vh
    margin: 5px

a
    color: rgb(255, 255, 255)
    text-decoration: None
    border-radius: 0.5vh
    margin: 0.5vh
    padding: 0.5vh
    transition: color 1s ease-in-out

a:hover
    color: #ff00ff
    // background-color: #ff00ff


#faceload
    width:  50vh
    height: 50vh