{{ define "main" }}
    <div id="content-mp">
        <img class="img-mp" src="/imgs/face.gif">
        <h1 class="h1-mp">Oliver D'Esposito</h1>
        <h2 class="h2-mp">{Student/Programmer}</h2>

        <div id="link-group-mp">
            <a class="a-mp" href="/contact">
                Info
                <i class="fa-solid fa-info"></i>
            </a>
            <a class="a-mp" href="/projects">
                Projects 
                <i class="fa-solid fa-bars"></i>
            </a>
            <a class="a-mp" href="/blog">
                Blog 
                <i class="fa-regular fa-file"></i>
            </a>
        </div>
        <div id="link-group-mp">
            <a class="a-mp" href="/art">
                Art
                <i class="fa-solid fa-paintbrush"></i>
            </a>
            <a class="a-mp" href="/other">
                Other 
                <i class="fa-solid fa-bars-staggered"></i>
            </a>
            <a class="a-mp" href="https://github.com/O-Despo">
                GitHub
                <i class="fa-brands fa-github"></i>
            </a>

        </div>
    <div>
{{ end }}
